# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class


# =========================
# Virtual Environment
# =========================
.venv/
venv/
env/
ENV/

.DS_Store


# Thumbnails
._*

# =========================
# IDE / Editor
# =========================
.vscode/
.idea/
*.swp
*.swo


# =========================
# Logs & temp
# =========================
*.log
*.tmp
*.temp


# =========================
# Cache / tooling
# =========================
.cache/
.pytest_cache/